.div-section-servicios{
display: flex;
flex-direction: column;
}
.div-servicios-text{
    text-align: start;
   color: #134B8B;
   margin: 30px 5px;
}
.div-container-servicios{
 display: flex;
}

.div-servicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.div-servicio h4 {
    max-height: 3em;
    overflow: hidden; 
    color: #134B8B;
    font-size: 1.2em;
}

.h4-servicio-separador{
    margin-bottom: 50px;
}
img{
    width: 300px;
    height: 295px;
}
p{
    margin: 0 20px;
    color: black;
}

@media (max-width: 1200px) {
    
}
@media (max-width: 800px) {
    
}
@media (max-width: 600px) {
    
}
@media (width < 500px) {
    .div-servicios{
        width: 300px;
    }
    .div-container-servicios{
        display: flex;
        flex-direction: column;
       }
       .div-servicios-text{
        text-align: start;
       color: #134B8B;
       margin: 10px 5px;
       font-size: 0.9em;
    }
    .h4-servicio-separador{
        margin-bottom: 10px;
    }
}
@media (width < 320px) {
    .div-servicios{
        width: 290px;
    }
    .div-container-servicios{
        display: flex;
        flex-direction: column;
       }
       .div-servicios-text{
        text-align: start;
       color: #134B8B;
       margin: 9px 4px;
       font-size: 0.9em;
    }
    .h4-servicio-separador{
        margin-bottom: 9px;
    }
}