header{
    background-image: url('../../../header-imgg.jpeg');
    background-size: cover; /* Esto ajustará la imagen para cubrir todo el contenedor */
    background-position: center;     
    width: 1281px;
    height: 726px;
    color: white;
    display: flex;

}

.div-header-text{
display:flex;
flex-direction: column;
text-align: center;
justify-content: end;
margin-left: 17px;
margin-bottom: 50px;
}

.span-div-text1{
   font-size: 1.8em;
   width: 400px;
   margin-bottom: 20px;
   
    
}

.span-div-text2{
 font-size: 1.2em;
 width: 460px;

}
@media (max-width: 2000px) {
    header{
        width: 100%;
    }
}
@media (max-width: 800px) {
    
}
@media (max-width: 600px) {
    
}
@media (width < 500px) {
    header{
        width: 550px;
        height: 426px;
  

    }
    .span-div-text1{
        font-size: 1.4em;
        width: 330px;
        margin-bottom: 20px;
        
         
     }
     .span-div-text2{
        font-size: 1.1em;
        width: 380px;
       
       }
    

}