footer {
    font-family: 'Roboto', sans-serif;
}

footer .container__contact {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
    padding: 20px; 
}

footer .footer__item {
    padding: 20px; 
    text-align: left; 
}

footer .footer__item ul li{
    list-style-type: none;
    margin-bottom: 15px;
}

footer .footer__item ul li a{
    text-decoration: none;
    color: black;
}

.copyright {
    text-align: center;
    display: flex;
    justify-content: center;
}

.logo{
    width: 20px;
    height: auto;
}

@media (max-width: 706px) {
    footer .container__contact {
        display: block;
        align-self: self-start;
        margin: 0px 0px 0px 70px;
    }
    footer .footer__item {
        padding: 0px;
    }
    footer .footer__item ul{
        margin: 0px !important;
        padding: 0px !important;
    }
    footer .footer__item ul li{
        margin-bottom: 10px !important;
    }
  }
