.contactanos__title {
    text-align: start;
    color: #134B8B;
    margin: 4rem 2rem 1rem 0.5rem;
    font-size: 2rem;
}

.container__contactanos {
    display: flex;

}

.bg4img {
    width: 1350px;
    height: 150px;


}

.contactanos__item {
    padding: 20px; 
    text-align: center; 
    text-align: left;
}

.contactanos__item ul li{
    padding: 0.75rem;
    list-style-type: none;
    margin: 2.5rem;
}

.contactanos__item ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.contactanos__ubicacion a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    
}

.contactanos__ubicacion iframe {
    margin-top: 5rem;
    display: block;
    width: 700px;
    height: 400px;
}

